#navList{
    list-style: none;
    display: flex;
     font-size: 2rem;
     /*margin-left: 15px;
     margin-right: 15px;*/
     padding: 15px;
     align-items: center;
    justify-content: space-between;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100vw;
    overflow-x: none;
    background-color: #e2e5e8;
    background-image: linear-gradient(98deg,#e2e5e8 0%,#ffffff 100%);
}
.navContainer {
    width: 100vw;
    /*background-color: rgba(113,113,154,0.776);*/
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#0093E9 0%,#80D0C7 100%);
    min-height: 80px;
    display: flex;
    position: relative;

}
#navLogo {
    font-size: 2.8rem;
    color: azure;
}
nav{
    width: 100%;
    overflow-x: none;
}
a{
    text-decoration: none;
    color: azure;
}
#navItems {
    display: flex;
    gap: 40px;
}
footer {
    width: 100%;
}
.footerBox {
    background-color: #0093E9;
    background-image: linear-gradient(160deg,#0093E9 0%,#80D0C7 100%);
   width: 100%;
    text-align: centre;
    min-height: 40px;
    
}
#para{
    color: azure;
    font-size: 1em;
    text-align: center;
   
}
.contentBox {
    width: 70%;
    margin: auto;
    border: 1px solid black;
}